/node_modules/
/public/comp/
/public/hot/
/public/storage/
/public/audio/
/public/mix-manifest.json
/storage/*.key
/vendor/
.env
.env.backup
.phpunit.result.cache
/flashcard.sqlite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
flashcard-4763204aaa06.json
launch_server.txt
