/database/flashcard.sqlite
/public/audio/

/public/comp/
/public/hot/
/public/storage/
/public/mix-manifest.json
/storage/*.key

/vendor/
/node_modules/

.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
flashcard-4763204aaa06.json
